<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>vscroll test</title>
</head>
<body ng-controller="vscrollTest">
<h2>vscroll test for {{data.length}} items</h2>
<div vscroll>
    <table>
        <thead vscroll-port="horizontalContext">
        <tr>
            <th ng-repeat="header in headers | vscroll: horizontalContext track by $index" vscroll-column="{{$index}}"></th>
        </tr>
        </thead>
        <tbody style="overflow: auto;" vscroll-port="verticalContext">
        <tr vscroll-mark="top">
            <td colspan="3" style="background: red;"></td>
        </tr>
        <tr vscroll-row="{{$index}}" ng-repeat="row in data | vscroll: verticalContext track by $index ">
            <td ng-repeat="cell in row | vscroll: horizontalContext track by $index" vscroll-column="{{$index}}">{{cell}}</td>
        </tr>
        <tr vscroll-mark="bottom">
            <td colspan="3" style="background: blue;"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

<script src="https://code.angularjs.org/1.5.4/angular.js"></script>
<script src="../vscroll.js"></script>
<script language="javascript">
    var app = angular.module('app', ['vscroll']);
    app.controller('vscrollTest', ['$scope', 'vscroll', function ($scope, vscroll) {
        var threshold = 50;
        var columnCount = 100;

        $scope.headers = populateRow(function(index) {
            return 'Column ' + index;
        });
        
        $scope.data = [];
        
        $scope.verticalContext = vscroll({
            threshold: threshold,
            update: function (resolve, page, pageSize) {
                var first = page * threshold;
                for (var i = 0; i < pageSize; i++) {
                    var index = first + i;
                    $scope.data[index] = populateRow(function(index) {
                        return 'Row ' + index + ' Column ' + index;
                    });;
                }

                resolve($scope.data.length);
            }
        });
        
        $scope.horizontalContext = vscroll({
            threshold: threshold
        });
        
        function populateRow(format) {
            var row = [];
            for (var i = 0; i < columnCount; i++) {
                format(i);
                row.push(format(i));
            }
            return row;
        }
    }]);
</script>