<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>vscroll test</title>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../vscroll.js"></script>
</head>

<body ng-controller="vscrollTable">

    <div style="width: 500px; height: 500px; overflow: auto" vscroll>
        <table class="scrollable-table">
            <thead>
                <tr vscroll-port="columnsCotext">
                    <th vscroll-column="{$index}" ng-repeat="header in headers | vscroll: columnsContext track by $index">
                        {{header}}
                    </th>
                </tr>
            </thead>
            <tbody vscroll-port="{row: rowsContext, column: columnsContext}">
                <tr vscroll-mark="top" style="padding-top: 60px">
                    <td colspan="4"></td>
                </tr>
                <tr vscroll-row="{{::$index}}" 
                    ng-repeat="item in data | vscroll: rowsContext track by $index" 
                    style="color: #{{item.color}}; height: {{item.height}}px; background-color: #{{item.code}}">
                    <td>{{item.index}}</td>
                    <td vscroll-column="{$index}" ng-repeat="column in item.columns | vscroll: columnsContext track by $index">
                        {{item[column]}}
                    </td>
                </tr>
                <tr vscroll-mark="bottom"></tr>
            </tbody>
        </table>
    </div>

    <script language="javascript">
        var app = angular.module('app', ['vscroll']);

app.controller('vscrollTable', ['$scope', '$interval', 'vscroll', function($scope, $interval, vscroll) {
//    var interval = $interval(function() {
//     changeColors();
//    }, 1000);
   
   $scope.data = [];
   $scope.headers = [];
   
   var changeColors = function () {
    for (var i = 0; i < rowsNumber; i++) {
      var code = Math.floor(Math.random() * 16777215);
      $scope.data[i].code = code.toString(16);
      $scope.data[i].color = isLight(code) ? '000' : 'fff'
    }
   };
  
   $scope.rowsContext = vscroll({
      threshold: 40,
      fetch: function(skip, take, d) {
        for (var i = skip; i < skip + take; i++) {
                    $scope.data[i] = [];
                    for(var j = 0, length = $scope.headers.length; j < length; j++)
                        $scope.data[i][j] = Math.floor(Math.random() * 16777215)
                }

                    d.resolve($scope.data.length + take);                    
                }
            });
   
   $scope.columnsContext = vscroll({
      threshold: 40,       
   });
   
   $scope.$on('$destroy', function() {
     $interval.cancel(interval);
   })

}]);
    </script>
</body>

</html>