<!DOCTYPE html>
<html ng-app="app">

<head>
   <script src="../bower_components/angular/angular.js"></script>
   <script src="../vscroll.js"></script>
   <link rel="stylesheet" href="style.css" />
</head>

<body ng-controller="vscrollTable">

<div vscroll style="height: 500px; width: 100%; overflow: auto;">
   <table>
      <tbody vscroll-port-y="rowContext" vscroll-port-x="columnContext">
      <tr vscroll-row="{{::$index}}" ng-repeat="row in data | vscroll: rowContext track by $index">
         <td ng-repeat="color in row | vscroll: columnContext track by $index">
            <div style="width: 80px; height: 80px; background-color: #{{data[$parent.$index][$index]}}"></div>
         </td>
      </tr>
      </tbody>
   </table>
</div>


<script language="javascript">
   var app = angular.module('app', ['vscroll']);
   app.controller('vscrollTable', ['$scope', 'vscroll', function($scope, vscroll) {
      var rows = 0,
            columns = 0;

      $scope.data = [];
      $scope.rowContext = vscroll({
         threshold: 20,
         fetch: function(skip, take, d) {
            console.log('row update requested: skip ' + skip);
            console.log('row update requested: take ' + take);

            for (var i = skip; i < take; i++) {
               var row = $scope.data[i] = [];
               for (var j = 0; j < columns; j++) {
                  row[j] = Math.floor(Math.random() * 16777215).toString(16);
               }
            }

            rows += take;
            d.resolve(rows + take);
         }
      });

      $scope.settingsR = $scope.rowContext.settings;
      $scope.containerR = $scope.rowContext.container;

      $scope.columnContext = vscroll({
         threshold: 20,
         fetch: function(skip, take, d) {
            console.log('col update requested: skip ' + skip);
            console.log('col update requested: take ' + take);

            for (var j = 0; j < rows; j++) {
               var row = $scope.data[j];
               for (var i = skip; i < take; i++) {
                  row[i] = Math.floor(Math.random() * 16777215).toString(16);
               }
            }

            columns += take;
            d.resolve(columns + take);
         }
      });

      $scope.settingsC = $scope.columnContext.settings;
      $scope.containerC = $scope.columnContext.container;
   }]);
</script>

</body>

</html>

                