<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>vscroll by klumba12</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <h1>vscroll</h1>

        <p class="view"><a href="https://github.com/klumba12/vscroll">View the Project on GitHub
            <small>klumba12/vscroll</small>
        </a></p>


        <ul>
            <li><a href="https://github.com/klumba12/vscroll/zipball/master">Download <strong>ZIP File</strong></a></li>
            <li><a href="https://github.com/klumba12/vscroll/tarball/master">Download <strong>TAR Ball</strong></a></li>
            <li><a href="https://github.com/klumba12/vscroll">View On <strong>GitHub</strong></a></li>
        </ul>
    </header>
    <section>
        <h3>List</h3>
        <button ng-click="reset()">reset</button>
        <button ng-click="update()">update</button>
        <button ng-mousedown="up()" ng-mouseup="release()">&uparrow;</button>
        <button ng-mousedown="down()" ng-mouseup="release()">&downarrow;</button>
        <div id="vscroll-list" vscroll style="height:500px; width: 200px; overflow-y: auto;margin:16px;">
            <ul vscroll-port="vscrollContext" style="list-style: none;margin:0;">
                <li vscroll-row="{{::$index}}" ng-repeat="item in data | vscroll: vscrollContext track by $index"
                    style="height: 20px;">
                    {{$index}}: {{item.id}}
                </li>
            </ul>
        </div>
    </section>
    <footer>

    </footer>
</div>
<script src="javascripts/scale.fix.js"></script>

<script src="https://code.angularjs.org/1.5.4/angular.js"></script>
<script src="https://rawgit.com/klumba12/vscroll/master/vscroll.js"></script>

<script language="javascript">
    var app = angular.module('app', ['vscroll']);

    app.controller('vscrollList', ['$scope', 'vscroll', '$interval', function ($scope, vscroll, $interval) {
        $scope.data = [];
        for (var i = 0; i < 200; i++) {
            $scope.data[i] = {id: i, name: 'name ' + i};
        }
        $scope.vscrollContext = vscroll({threshold: 30});
        $scope.settings = $scope.vscrollContext.settings;
        $scope.container = $scope.vscrollContext.container;
        $scope.reset = function () {
            $scope.container.reset();
        };
        $scope.update = function () {
            $scope.container.update($scope.data.length, true);
        };
        var promise;
        $scope.down = function () {
            var element = document.getElementById('vscroll-list');
            promise = $interval(function () {
                element.scrollTop = element.scrollTop + 1;
            }, 100);
        };
        $scope.up = function () {
            var element = document.getElementById('vscroll-list');
            promise = $interval(function () {
                element.scrollTop = element.scrollTop - 1;
            }, 100);
        };
        $scope.release = function () {
            if (promise) {
                $interval.cancel(promise);
                promise = null;
            }
        };
    }]);
</script>
</body>
</html>